<h4 class="center">Tags</h4>
<p>
  <% x = 0 %>
  <% @tags.uniq.each do |tag| %>
    <% x += 1 %>
    <%= content_tag :span, class: "top#{x}" do %>
      <%= link_to tag.name, user_tag_search_path(@user, tag.name) %>
    <% end %>
  <% end %>
</p>
