<h4 class="center">Tags</h4>
<p>
  
  <%#<span class="top1"><a href="#">cloud</a></span>%>
  <%#<span class="top2"><a href="#">programming</a> </span>%>
  <%#<span class="top3"><a href="#">hosting</a> </span>%>
  <%#<span class="top4"><a href="#">shopping</a> </span>%>
  <%#<span><a href="#">javascript</a></span>%>
  <%#<span><a href="#">javascript</a></span>%>
  <%#<span><a href="#">javascript</a></span>%>
  <%#<span><a href="#">javascript</a></span>%>
  <%#<span><a href="#">javascript</a></span>%>
  <%#<span><a href="#">javascript</a></span>%>
  <%#<span><a href="#">git</a></span>%>
  <%#<span><a href="#">git</a></span>%>
  <%#<span><a href="#">git</a></span>%>
  <%#<span><a href="#">git</a></span>%>
  <%#<span><a href="#">git</a></span>%>
  <%#<span><a href="#">git</a></span>%>
</p>
