<% provide(:title, 'Home') %>
<div class="row center">
  <h1>Capture the Web You've Been Missing</h1>
  <%= link_to "Sign up now!", signup_path, role: 'button', class: 'btn btn-large btn-primary' %>
</div>
