<footer class="footer">
  <nav>
    <ul>
      <li><a href="#">Tour</a></li>
      <li><a href="mailto:danghuyhoan@gmail.com">Contact</a></li>
      <li><a href="https://github.com/hoandang" target="_blank">About</a></li>
      <li><a href="#">Developers</a></li>
    </ul>
  </nav>
</footer>
